<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div>
        
      <section class="wow animate__fadeIn parallax" data-parallax-background-ratio="0.5" style=" background-image:url('https://cdn.hasselblad.com/f/77891/3840x1600/2cf4652af4/x2d_lightweight_field_kit_banner_1920x800_-2x_pc.jpg');

       background-position: 0% 0px; visibility: visible; animation-name: fadeIn;">
<nav class="navbar navbar-expand-sm">
    <div>
      <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTybInveyPFzYziYpyAy45Hyi3OjJhUySYoBg&usqp=CAU" style="width: 50%; height: 50%; border-radius: 50%;" class="rounded">
    </div>
  
    <ul class="navbar-nav ml-auto" style="margin-right: 10%; margin-bottom:20px;">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage' %}"style="margin-right: 50px;">
             HOME
            </a>
        </li>
        <li class="nav-item" style="margin-right: 50px;">
          <a class="nav-link" href="{% url 'about' %}">
            ABOUT
          </a>
      </li>
        <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="{% url 'gallery' %}">

              GALLERY
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""  data-toggle="modal" data-target="#exampleModalCenter" style="margin-right: 50px;">
              BOOKINGS
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'con' %}" style="margin-right: 50px;">
            CONTACT
          </a>
      </li>
    </ul>
</nav>



            <div class="bg-extra-dark-gray"></div>

            <div class="container position-relative">

                <div class="row align-items-center">

                    <div class="col-12 d-flex flex-column justify-content-center text-center extra-small-screen page-title-large">

                        <h1 class="text-white-2 alt-font font-weight-300 letter-spacing-minus-1 margin-10px-bottom" style="color: antiquewhite; margin-bottom: 10px;"><b>About Us</b></h1>
<span class="text-white-2 opacity6" style="color: antiquewhite; margin-bottom: 15px;">Wedding Photography & Cinematography. We love what we do and we do it with love...</span>

                    </div>

                </div>

            </div>

        </section>
        <div>
            <p style="font-family: 'Times New Roman', Times, serif; font-size:x-large; text-align: justify; padding-top: 100px; padding-left: 30px; padding-right: 20px;">There's no denying that planning the ideal wedding takes a lot of time and effort and we aim to capture every efforts. Most weddings involve several rituals such as sangeet night,save the date, haldi or mehndi ,engagement ,wedding ,post wedding ,reception so and so.Our services include budget friendly wedding photography pacakge to cover these occasions as well. Every narrative is unique; tell us more about your big day.Wedding Photography Kerala by Crystalline Studio specialize in candid wedding photography,traditional wedding photoshoot, post-wedding shoot, destination wedding,save the date shoot, Apart from these, we do birthday photography, helicam shoot, baptism or christening ceremony ,thanks cards & Wedding Live Streaming Kerala</p>
        </div><br>
<div style="margin-top: 50px;">
    <h1 style="text-align: center; padding-top: 20px;">
        What We Do For You!!!
    </h1><br><br>
    <p style="text-align:justify; font-size: x-large; padding-left: 30px; padding-right: 20px; font-family:'Times New Roman', Times, serif">We Kerala wedding photography make sure your couple’s pictures are the most elegant way to capture the connection between you two in all magnificence. Our open approach to artistic pre-marriage photography shows the genuine ‘you’ as we simply hang together. Our professional photographers are experts in capturing the greatest pictures of you two, resulting in a picture-perfect moment that is captured on camera. Working with us is even more convenient and stress-free since we have a “no-fuss” policy. Once you’ve decided to hire us, you may simply ask for any sort of help you need for your session so that the day of the shoot is spontaneous and doesn’t seem like a chore.

    Capturing a real moment without the person posing for it is an art that is difficult to master. It is about capturing the spirit of a moment rather than simply the event itself. Also, moments are ephemeral and vanish in the blink of an eye. Candid Photography is not everyone’s cup of tea, but the team at crystalline Wedding Photography Kerala is an absolute expert. The candid style of photography is gaining popularity among the general public, and they want to include it in their own portfolios, event photos, weddings, and virtually every other significant life event. If you’re searching for best candid Kerala wedding photography services, CRYSTALLINE PHOTOGRAPHY should be your first destination.</p>
</div>
<div class="card-group mb-3" style="margin-top: 70px;">
    <div class="card mr-3" >
      <img class="card-img-top img-fluid" src="https://i.pinimg.com/originals/f5/18/42/f518422c2d50cdcbfa5135475db0c2b5.jpg" alt="Card image cap" style="width: 500px; height: 600px;">
      <div class="card-body">
        <h5 class="card-title">Muslim Wedding Photography</h5>
        <p class="card-text" style="text-align: justify;">Kerala Muslim weddings are one of the sacred occasions that we have ever come across. We strive to encapsulate each of these aspects through our photographs and videos to bring forth a wedding album rich with emotions and color, that you'll reminisce and be proud of. Hence we focus on <a href=""></a></p>
      </div>
    </div>
    <div class="card mr-3">
      <img class="card-img-top img-fluid" src="https://5.imimg.com/data5/EK/UE/TV/SELLER-46301040/kerala-wedding-photography-500x500.jpg" alt="Card image cap" style="width: 500px; height: 600px;">
      <div class="card-body">
        <h5 class="card-title">Hindu Wedding Photography</h5>
        <p class="card-text">Kerala Hindu weddings are very colorful, and celebrations may extend for several days. <a href=""><strong><u> Kerala Hindu wedding photography</u></strong></a> not only brings the families of the bride and groom closer together. Crystalline studio capture the true spirit of Kerala Hindu wedding and we make the wedding highlight in very traditional way.</p>
      </div>
    </div>
    <div class="card mr-3">
      <img class="card-img-top img-fluid" src="https://talkingpicturesindia.com/wp-content/uploads/2020/01/A11.jpg" alt="Card image cap"style="width: 500px; height: 600px;">
      <div class="card-body">
        <h5 class="card-title">Christain Wedding Photography</h5>
        <p class="card-text">Capturing a <a href=""><strong><u> Christian wedding photgraphy</u></strong></a> is a feeling of happiness and enjoyment. Be it your engagement or wedding , we capture all the emotions. We are exceedingly passionate about encapsulating the little things and everything in between for our couples in their celebration of love.</p>
      </div>
    </div>
</div>    
<div class="footer-middle" style="background-color: black; margin-top: 50px;"> 
    <div class="container">
      <div class="row">
                                                              <div class="col-sm-12 col-md-6 col-lg-3 ">
              <div id="about_us-widget-9" class="widget about_us">			<!-- About Widget -->
  <div class="about-footer">
  <div class="footer-widget address">
    <div class="footer-logo">
                                  </div>
    <div class="footer-address">
                                              </div>
  </div>
  </div>	
  
  </div><div id="about_us-widget-5" class="widget about_us">			<!-- About Widget -->
  <div class="about-footer">
  <div class="footer-widget address">
    <div class="footer-logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTybInveyPFzYziYpyAy45Hyi3OjJhUySYoBg&usqp=CAU"  alt="" style="padding-top: 30px; width: 100px; height: 100px; margin-right: 60%;">    
         <br><p style="color: beige;">KNA PLAZA, Kundannoor<br>
          Kochi, Kerala 682304</p> 
          <div class="text-m-small line-height-24 text-medium-gray"> <a href="" class="text-medium-gray">weddingphotography@gmail.com</a></div>
  
                              <div class="text-m-small line-height-24 text-medium-gray" style="color: antiquewhite;">Phone: +91 999 546 9222  </div>
  
                              <div class="text-m-small line-height-24 text-medium-gray" style="color: antiquewhite;">Phone: +91 996 199 8444 </div>             
        
                  </div>
                  <div class="col-lg-3 footer-sm col-md-4 col-sm-6 widget margin-30px-top">
                                  
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15719.85030919971!2d76.3183881!3d9.9370718!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa84056d3a732a1ae!2sCrystalline%20Photography!5e0!3m2!1sen!2sin!4v1664373217895!5m2!1sen!2sin" width="200" height="120" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
  
  </div>
  </div>	
  
  </div><div id="nav_menu-3" class="widget widget_nav_menu"><div class="menu-social-menu-container"><ul id="menu-social-menu" class="menu">
  </ul></div></div>										</div>
            
                                                                <div class="col-sm-12 col-md-6 col-lg-3 ">
              <div id="nav_menu-2" class="widget widget_nav_menu"><h2 class="widget-title">Quick Links</h2><div class="menu-our-company-container"><ul id="menu-our-company" class="menu"><li id="menu-item-423" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-423"><a href="#"  style="color: whitesmoke;">Home</a></li>
  <li id="menu-item-424" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-424"><a href="#" style="color: whitesmoke;">Contact</a></li>
  <li id="menu-item-425" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-425"><a href="#"  style="color: whitesmoke;">Gallery</a></li>
  <li id="menu-item-426" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-426"><a href="#"  style="color: whitesmoke;">Bookings</a></li>
  <li id="menu-item-427" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-427"><a href="#"  style="color: whitesmoke;">Explore</a></li>
  </ul></div></div>										</div>
            
                                                                <div class="col-sm-12 col-md-6 col-lg-3 ">
              <div id="about_us-widget-3" class="widget about_us"><h2 class="widget-title">Our Services</h2>
                <ul class="list-unstyled" >
                                    
                  <li style="color: antiquewhite;"><a class="text-medium" href=""  style="line-height:36px; color: antiquewhite;">Christian Wedding Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Hindu Wedding Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Muslim Wedding Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Save the Date Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Baptism Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Holy Communion Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Haldi Photography</a></li>
                    
                  <li><a class="text-medium" href=""  style="line-height:36px;color: antiquewhite;">Birthday Photography</a></li>
                    </ul>
                   <ul class="list-unstyled">
              <li><a  class="text-medium" href="" style="line-height:36px;color: antiquewhite;">Drone or Helicam</a></li>
              <li><a  class="text-medium" href="" style="line-height:36px;color: antiquewhite;">Live Streaming for Wedding</a></li>
              <li><a  class="text-medium" href="" style="line-height:36px;color: antiquewhite;"> Wedding Video Editing</a></li>
              <li><a  class="text-medium" href="" style="line-height:36px;color: antiquewhite;"> Wedding Album Designing</a></li>
  
  
              </ul>	
                      <!-- About Widget -->
  <div class="about-footer">
  <div class="footer-widget address">
    <div class="footer-logo">
                        
                  </div>
                  
    <div class="footer-address">
                    <div class="footer_s_inner"> 
        <div class="footer-sociala-icon">
          <i class="fa fa-home"></i>
        </div>									
        <div class="footer-sociala-info">				
        </div> 
      </div> 
                                  <div class="footer_s_inner"> 
        <div class="footer-sociala-icon">
          <i class="fa fa-phone"></i>
        </div> 									
        
      </div>
                                
        <div class="footer_s_inner"> 
          <div class="footer-sociala-icon"> 
            <i class="fa fa-globe"></i>
          </div> 
          <div class="footer-sociala-info">  
          </div>
        </div>
                  </div>
  </div>
  </div>	
  
  </div>										</div>
            
                                                                <div class="col-sm-12 col-md-6 col-lg-3 last">
              <div id="about_us-widget-6" class="widget about_us">		<!-- About Widget -->
  <div class="about-footer">
  <div class="footer-widget address">
    <div class="footer-logo">
                        
                  </div>
    <div class="footer-address">
                                              </div>
  </div>
  </div>	
  
  
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-image: url('https://wevaphotography.com/wp-content/uploads/2021/12/amazing-pre-wedding-pictures-..jpg');">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 100%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="text-align: center; margin-left: 25%; font-size: larger;color: rgb(17, 17, 17);" id="exampleModalLongTitle"><b>YOUR BOOKINGS..</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <form>
          <label>Name</label>
          <input type="text" placeholder="your name" class="form-control">
          <label>Partner Name</label>
          <input type="text" placeholder="your partner name" class="form-control">
          <label>Address</label>
          <textarea placeholder="enter address" rows="4" cols="50" class="form-control"></textarea>
          <label>Function Date</label>
          <input type="date" class="form-control"> 
          <label>Function</label>
          <select class="form-control">
            <option>Marriage</option>
            <option>Save the date</option>
            <option>Reception</option>
            <option>Birthday</option>
            <option>Other</option>
          </select><br><br>
          <button type="submit" class="btn btn-success">Book Now</button>
  
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
         </form>
        </div>
        
  
  
  </div>
  </div>
  </div>


</body>
</html>